# Игнориране на node зависимости
node_modules/
package-lock.json

# Временни снимки
fb-prepared/
temp-img-*.jpg

# Скриптове и логове
*.log

# Чувствителни конфигурации
.env
archived_orders.json
orderCounter.json
orders.json
translations.json
settings.json

